
Bibliografia /Livros/haykin.neural-networks.3ed.2009.pdf
Bibliografia /Livros/Bishop - Pattern Recognition And Machine Learning - Springer  2006.pdf
Bibliografia /Livros/Clustering_Jain_Dubes.pdf
Bibliografia /Livros/Data Science do zero - Primeiras regras.pdf
Bibliografia /Livros/inteligencia-artificial-uma-abordagem-de-aprendizado-de-maquina.pdf
Bibliografia /Livros/Data Science do zero - Primeiras regras (1).pdf
Bibliografia /Livros/cluster_survey_10_02_00.pdf
Bibliografia /Livros/Livro de Redes Neurais Artificiais.pdf
Bibliografia /Livros/Python para analise de dados - Wes McKinney.pdf
Bibliografia /Livros/vladimir-vapnik-the-nature-of-statistical-learning-springer-2010.pdf
