
Bibliografia /Livros/haykin.neural-networks.3ed.2009.pdf
Bibliografia /Livros/Bishop - Pattern Recognition And Machine Learning - Springer  2006.pdf
Bibliografia /Livros/Clustering_Jain_Dubes.pdf
Bibliografia /Livros/Data Science do zero - Primeiras regras.pdf
Bibliografia /Livros/inteligencia-artificial-uma-abordagem-de-aprendizado-de-maquina.pdf
Bibliografia /Livros/Data Science do zero - Primeiras regras (1).pdf
Bibliografia /Livros/cluster_survey_10_02_00.pdf
Bibliografia /Livros/Livro de Redes Neurais Artificiais.pdf
Bibliografia /Livros/Python para analise de dados - Wes McKinney.pdf
Bibliografia /Livros/vladimir-vapnik-the-nature-of-statistical-learning-springer-2010.pdf
Bibliografia /Livros/applied-predictive-modeling-max-kuhn-kjell-johnson_1518.pdf
Bibliografia /Livros/Machine Learning for Hackers_ Case Studies and Algorithms to Get You Started [Conway & White 2012-02-25].pdf
Bibliografia /Livros/The-Morgan-Kaufmann-Series-in-Data-Management-Systems-Jiawei-Han-Micheline-Kamber-Jian-Pei-Data-Mining.-Concepts-and-Techniques-3rd-Edition-Morgan-Kaufmann-2011.pdf
Bibliografia /Livros/Machine Learning for Hackers_ Case Studies and Algorithms to Get You Started [Conway & White 2012-02-25].pdf
Bibliografia /Livros/ISLRSeventhPrinting.pdf
Bibliografia /Livros/Machine Learning - Tom M. Mitchell /Machine - Learning - Tom Mitchell.pdf
Bibliografia /Livros/Machine Learning - Tom M. Mitchell /Machine Learning Tom M2.docx
Bibliografia /Livros/DELIRIUM/DSM-III.pdf
.Rproj.user
